[user]
	name = Lasse Koskela
	email = lasse.koskela@reaktor.fi
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	ui = true
[core]
	editor = mate -w
	autocrlf = input
	excludesfile = /Users/lkoskela/.gitignore_global
[alias]
	st = status
	ci = commit -v
	co = checkout
	cp = cherry-pick
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	tm = log --abbrev-commit --pretty=format:'%Cred%h %Cgreen(%cd)%Creset %s %C(bold blue)<%an>%Creset' --date=iso
[rerere]
	enabled = true
[format]
	numbered = auto
[push]
	default = tracking
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

# https://github.com/alebedev/git-media
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
