.DS_Store
.CFUser*
.android/
.ant/
.backlog/
.bash_profile.*
.berkshelf/
.blastr/
.cabal/
.cake/
.cocoapods/
.config/
.ctags
.cups/
.dropbox/
.dvdcss/
.eclipse/
.fontconfig/
.gem/
.ghc/
.git-repos/
.gitk
.gnupg/
.heroku/
.hours/
.ivy2/
.jline-clojure.*
.keystore
.lein/
.lesshst
.m2/
.mitmproxy/
.netrc
.npm/
.password/
.pearrc
.pow
.qt-license
.rbenv/
.rnd
.sbt/
.Trash/
.*_history
.*-history
.ssh/
.subversion/
.v/
.vagrant.d/
.vim/
.viminfo
.vpn/
.yard/
*/
